* {
  outline: 1px solid blue;
}

body {
  background: url('../images/layout/brick4.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}
