/** {
  outline: 1px solid blue;
}*/

body {
  background: url('../images/layout/brick4.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.bugger {
  outline: 1px solid red;
}

html, body {
height: 100%;
}

.wrapper {
min-height: 100%;
height: auto !important;
height: 100%;
margin: 0 auto -4em;
}

.footer, .push {
height: 4em;
}

.text-center {
  text-align: center;
}

.text-white {
  color: white;
}

.nav-text {
  font-size: 1.7em;
}

.date-select {
  display: inline;
}

.sb-dark {
  background-image: url('../images/layout/sb-dark-shapes.png')) !important;
}

.sb-light {
  background-image: url('../images/layout/sb-beige.png'));
}

.sb-pentagon {
  background-image: url('../images/layout/sb-pentagon.png'));
}

.bg-blue {
  background-color: #5852E6 ;
}

.bg-green {
  background-color: #4DAFA2;
}

.bg-orange {
  background-color: #FFB064;
  // background-color: #AA6D39;
}

.bg-yellow {
  background-color: yellow;
}

.bg-light-green {
  background-color: #2fe073;
}

.bg-light-pink {
  background-color: #FD849E;
}

.bg-red {
  background-color: red;
}

.bg-white {
  background-color: white;
}

.bold {
  font-weight: bold;
}

.logo-image {
  padding-top: 2%;
  padding-bottom: 2%;
  padding-left: 6%;
  height: 2.5em;
}

.green-text{
  color: #B0D69A;
}

.white-text {
  color: white;
}

.gray-text {
  color: gray;
}

.pad-1 {
  padding: 1%;
}

.margin-1 {
  margin: 1%;
}

.bg-gray {
  background-color: gray;
}

.max-200 {
  max-height: 200px;
  max-width: 200px;
}

.max-50 {
  max-height: 50px;
  max-width: 50px;
}

.max-100 {
  max-height: 100px;
  max-width: 100px;
}

.height-300px {
  height: 300px;
}

.height-30px {
  height: 30px;
}

.height-50px {
  height: 50px;
}

.height-60px {
  height: 60px;
}

.height-75px {
  height: 75px;
}

.text-half {
  font-size: .5em;
}

.date-text {
  font-size: .6em;
}

.day-text {
  font-size: .9em;
}

.organizer-text {
  margin-bottom:  .6rem;
  margin-top: .6rem;
  font-size: .7em;
}

.location-text {
  font-size: .8em;
  margin-bottom:  .01rem;
}

.border-left-white {
  border-left: 1px solid white;
}

.border-right-white {
  border-right: 1px solid white;
}

.desc-text {
  padding-top: 5%;
  font-size: 1em;
}

.title-text {
  font-size: 1em;
}

.person-text {
  font-size: 1.5em;
}

.center {
  text-align: center;
}

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.absolute-bottom {
  position: absolute;
  bottom:   0px;
}

.relative-div {
  position:relative;
}

.bg-maroon {
  background-color: maroon;
}

.bg-teal {
  background-color: #19ABB5;
}

.text-teal {
  color: #19ABB5;
}

.black-text {
  color: black;
}

.no-pad {
  padding: 0;
}

.no-pad-left {
  padding-left: 0 !important;
}

.no-pad-right {
  padding-right: 0 !important;
}

.no-margin {
  margin: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.mar-right-5P {
  /*padding-right: 5%;*/
}

.mar-top-5P {
  margin-top: 5%;
}

.pad-top-5px {
  padding-top: 5px;
}

.pad-top-15px {
  padding-top: 15px;
}

.pad-top-10px {
  padding-top: 7%;
}

.pad-left-5P {
  padding-left: 5%;
}

.pad-top-5P {
  padding-top: 5%;
}

.pad-top-1P {
  padding-top: 1.4%;
}

.pad-top-10P {
  padding-top: 10%;
}

.pad-top-12P {
  padding-top: 12%;
}

.pad-bottom-5px {
  padding-bottom: 5px;
}

.pad-bottom-15px {
  padding-bottom: 15px;
}

.pad-bottom-10px {
  padding-bottom: 7%;
}

.pad-bottom-5P {
  padding-bottom: 5%;
}

.pad-bottom-10P {
  padding-bottom: 10%;
}

.pad-bottom-12P {
  padding-bottom: 12%;
}

.pad-top-bottom-5px {
  padding-top: 5px;
  padding-bottom: 5px;
}

.pad-top-bottom-15px {
  padding-top: 15px;
  padding-bottom: 15px;
}

.pad-top-bottom-10px {
  padding-top: 7%;
  padding-bottom: 7%;
}

.pad-top-bottom-5P {
  padding-top: 5%;
  padding-bottom: 5%;
}

.pad-top-bottom-10P {
  padding-top: 10%;
  padding-bottom: 10%;
}

.pad-top-bottom-12P {
  padding-top: 12%;
  padding-bottom: 12%;
}

.pad-left-30px {
  padding-left: 30px;
}

.pad-left-35px {
  padding-left: 35px;
}

.pad-right-30px {
  padding-right: 30px;
}

.pad-right-50px {
  padding-right: 20%;
}

.rounded-corners {
  border-radius: 10% 5% 0% 10%;
}

.rounded-bottom {
  border-radius: 0% 37px 37px 0%
}

.square-50px {
  height: 50px;
  width: 50px;
}

.square-60px {
  height: 60px;
  width: 60px;
}

.circle-60px {
  border-radius: 50% 50% 50% 50%;
  height: 60px;
  width: 60px;
}

.circle-150px {
  border-radius: 50% 50% 50% 50%;
  height: 150px;
  width: 150px;
}


.circle-175px {
  border-radius: 50% 50% 50% 50%;
  height: 175px;
  width: 175px;
}

.width-100px {
  width: 100px;
}

.width-200px {
  width: 200px;
}
