.navbar-logo {
  padding: 2% 0% 0% 2%;
  height: 3em;
}

.text-header {
  font-size: 2.2em;
}

.clock span {
  display: none;
}

.header-clock-text {
  padding-right: 2%;
}

.header-date-text {
  padding-left: 12%;
}
